<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ExtensionFileFilter</filter-name>
        <filter-class>controller.filter.ExtensionFileFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>controller.filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>controller.filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExtensionFileFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/dashboard</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.homepage.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsController</servlet-name>
        <servlet-class>controller.homepage.ProductDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.admin.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAdminServlet</servlet-name>
        <servlet-class>controller.admin.ProductAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>controller.authen.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardUserServlet</servlet-name>
        <servlet-class>controller.user.DashboardUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardController</servlet-name>
        <servlet-class>controller.user.CardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.account.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountInformation</servlet-name>
        <servlet-class>controller.account.AccountInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountInformations</servlet-name>
        <servlet-class>controller.account.AccountInformations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.account.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartServlet</servlet-name>
        <servlet-class>controller.admin.ChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>controller.user.ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountControl</servlet-name>
        <servlet-class>controller.admin.AccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccServlet</servlet-name>
        <servlet-class>controller.admin.AccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountAdminServlet</servlet-name>
        <servlet-class>controller.admin.AccountAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsController</servlet-name>
        <url-pattern>/product-details</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAdminServlet</servlet-name>
        <url-pattern>/admin/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardUserServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardController</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/myaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountInformation</servlet-name>
        <url-pattern>/account-info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountInformations</servlet-name>
        <url-pattern>/change-infomation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartServlet</servlet-name>
        <url-pattern>/chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/viewDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccServlet</servlet-name>
        <url-pattern>/admin/acc-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountAdminServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
